* {
  font-family: 'Kanit', sans-serif;
}

body {
  background-color: #eee;
}

.shadow {
  box-shadow: 10px 10px 5px grey;
}

.a {
  width: 80;
  color: #353b48;
}

.menu-l-top {
  padding: 30px 10px 25px 10px;
}
.menu-l-midden {
  padding: 20px 10px 30px 10px;
}

.menu-l-bottom {
  padding: 20px 10px 35px 10px;
}

.a:hover {
  background-color: #dfe6e9;
}

.a:hover .icon-left:hover {
  width:55px;
  height:55px;
}

.search {
  background-color: #fff;
  padding: 10px 10px 10px 715px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.bt-searh {
  /* border-color: #fd79a8; */
  background-color: #fd79a8;
  color: #2d3436;
}

.bt-searh:hover {
  /* background-color: #fd79a8; */
  color: #222f3e;
}

.zoom {
transition: transform .3s;
}

.zoom:hover {
transform: scale(1.1);
border-style: solid;
border-width: 1px;
border-color:#fd79a8; 
}

.font-product {
  color:#353b48;
  font-size:20px;
}

.p:hover {
  color:#353b48;
}
.pointer {
  cursor: pointer;
}



